{% extends 'app1/base.html' %}
{% load static %}
{% block "codeblock" %}

<div class="container">
<div class="box">
    <!-- <div class="main-wrapper" , style="text-align: center;">
        <div class="main-heading">{{question.q_title}}</div>
        <div class="main-text">
            {{question.q_descrp}} 
        </div>
    </div> -->

    <div class="questiontitle">
        <h1>{{question.q_title}}</h1>&nbsp;<span><span>Difficulty Level:</span>{{question.q_diff_level}}</span>
    </div>
    <div class="questiondes">
        {{question.q_descrp}}
    </div>

    <div class="questionconst">
        <p>{{question.q_const}} </p>
    </div>
    <div class="other1">
        <span>Points</span>{{question.q_point}}
        <span>Accuracy</span>{{question.q_aqrcy}}
        <span>Submissions</span>{{question.q_subns}}
    </div>
    <div class="other2">
        <span>Time limit</span>{{question.q_time_limit}}
        <span>Memmory limit</span>{{question.q_memory_limit}}
    </div>
</div>
<div class="testip">
    <form action="" method="POST" id="code_form">
        {% csrf_token %}
        <div>
            <h3>Language</h3>
            <select name="language" id="code_lang">
                <option value="python" selected>Python</option>
                <option value="cpp" {% if code_lang_cpp %}selected{% endif %}>C++</option>
                <option value="c" {% if code_lang_c %}selected{% endif %}>C</option>
            </select>
        </div>
        <textarea name="user_code" id="user_code" cols="130" rows="20" placeholder="#Enter your code here">{{user_code}}</textarea>
        <textarea name="test_ip" id="testip" cols="30" rows="5" placeholder="Input">{{question.q_sip}}</textarea>
        <textarea name="test_op" id="testop" cols="30" rows="5" placeholder="Output">{{question.q_sop}}</textarea>
        <input type="button" value="Run" id="run_code" class="btn btn-primary" >    
        <input type="button" value="Submit" id="submit_code" class="btn btn-primary" >    
        
        {% comment %} <input type="Submit" value="Submit" onclick="location.href='/question_sub/{{question.q_id}}'">  {% endcomment %}
    </form>
    <div class="testcases_block alert alert-success text-center h1" style="display: none;" id="tc_div">
        <span id="actual_pass"></span>/<span id="original_pass"></span>
    </div>
</div>
</div>
{% comment %} <script src="{% static 'app1/js/jquery.js' %}"></script>
<script src="{% static 'app1/js/popper.js' %}"></script> 
<script src="{% static 'app1/js/bootstrap.js' %}"></script> {% endcomment %}


{% include 'app1/ajax/ajax.html' %}
{% endblock "codeblock" %}